body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(47, 47, 58);
}

#container {
    height: 80vh;
    width: 75vw;
    margin: auto;
    background-color: rgb(83, 83, 92);
}

#search {
    width: 20vw;
    margin: auto;
}